@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --red: #ff0000;
  --lightblue: #00ffff;
  --blue: #0000ff;
  --maxwidth: 1200px;
  --gri: #292d2d;
  --crem: #fff9f4;
  --gold: #c6a66f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gri);
}

.navbar .container .meniu .meniu-dpd li#buton-cont a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
}

.container {
  margin: 0 auto;
}

.navbar {
  background-color: var(--gri);
  padding: 1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .logo img {
  max-width: 100%;
}

.meniu {
  display: flex;
  align-items: center;
}

.meniu ul {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.meniu ul li {
  margin: 0 10px;
}

.meniu ul li a {
  text-decoration: none;
  color: var(--gold);
  font-family: Lexend, sans-serif;
  font-size: 20px;
  font-weight: 400;
  transition: color 0.3s ease;
}

.meniu ul li a:hover {
  color: var(--gri);
}

.produse {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.box {
  background-color: var(--crem);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  width: 300px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.box .name {
  font-family: Lexend, sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantity {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.quantity button {
  background-color: var(--crem);
  color: var(--gold);
  font-family: Lexend, sans-serif;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid var(--gold);
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.quantity button:hover {
  background-color: var(--gold);
  color: var(--crem);
}

.quantity span {
  margin: 0 10px;
  font-family: Lexend, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.pret {
  font-family: Lexend, sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.img-container img {
  max-width: 100%;
  border-radius: 10px;
}

.hero-btn {
  background-color: var(--gold);
  color: var(--crem);
  font-family: Lexend, sans-serif;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  background-color: var(--red);
}

.title {
  font-family: Lexend, sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  background-color: var(--crem);
  display: flex;
  justify-content: center;
}

.title .h3-content {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

.title .h3-content img {
  margin-left: 20px;
}

.produse {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  overflow-y: auto; /* Add this line to enable vertical scrollbar */
}

.produse .box {
  flex: 1 1 0;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--crem);
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid var(--gri);
}

.produse table th {
  background-color: var(--gold);
  color: var(--crem);
  font-family: Lexend, sans-serif;
  font-weight: 700;
  height: 50px;
}

.produse table tbody tr td {
  background-color: var(--crem);
  font-family: Lexend, sans-serif;
  font-size: 14px;
  border: 2px solid var(--gri);
  text-align: center;
  height: 130px;
}

.produse table tbody tr td img.image-fit {
  width: 200px;
  border-radius: 5px;
}
.produse table tbody tr td .model {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.produse table tbody tr td .price {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.produse table tbody tr {
  height: 130px;
}

tr:last-child td {
  border-bottom: none;
}

tr:nth-child(even) {
  background-color: var(--gri);
}

table button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: var(--gri);
  color: var(--crem);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;
  font-family: Lexend, sans-serif;
  border-radius: 10px;
}

table button:hover {
  background-color: var(--gold);
}

.payment-form {
  max-width: 600px;
  margin: 20px auto;
  background-color: var(--crem);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Change this to space-between if you want extra space on the sides */
  align-items: center;
}

.payment-form label {
  font-family: Lexend, sans-serif;
  font-size: 18px;
  font-weight: 600;
  width: 25%; /* Adjust width as needed */
  margin-bottom: 8px;
}

.payment-form input {
  width: 60%; /* Adjust width as needed */
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid var(--gri);
  border-radius: 5px;
  font-family: Lexend, sans-serif;
  font-size: 16px;
}

.payment-btn {
  background-color: var(--gold);
  color: var(--crem);
  font-family: Lexend, sans-serif;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Adjust width as needed */
}

.payment-btn:hover {
  background-color: #e7ae45;
}

.div-payment {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%; /* Adjust width as needed */
}

.payment-form select {
  width: 60%; /* Adjust width as needed */
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid var(--gri);
  border-radius: 5px;
  font-family: Lexend, sans-serif;
  font-size: 16px;
}

/* Style for the payment method label */
.payment-form label[for="payment_method"] {
  width: 25%;
  margin-bottom: 8px;
}

.modal {
  font-family: Lexend, sans-serif;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Style for the modal content */
.modal-content {
  font-family: Lexend, sans-serif;
  background-color: var(--crem);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--gri);
  width: 80%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Style for the close button in the modal */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  th,
  td {
    display: block;
    width: 100%;
  }

  td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  td:before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    font-weight: bold;
  }

  tr {
    margin-bottom: 15px;
  }

  tr:hover {
    background-color: inherit;
    cursor: auto;
  }
}

tr:last-child td {
  border-bottom: none;
}

tr:nth-child(even) {
  background-color: var(--gri);
}

table button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: var(--gri);
  color: var(--crem);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;
}

table button:hover {
  background-color: var(--gold);
}

@media screen and (max-width: 768px) {
  th,
  td {
    display: block;
    width: 100%;
  }

  td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  td:before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    font-weight: bold;
  }

  tr {
    margin-bottom: 15px;
  }

  tr:hover {
    background-color: inherit;
    cursor: auto;
  }
}
