@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --red: #ff0000;
  --lightblue: #00ffff;
  --blue: #0000ff;
  --maxwidth: 1200px;
  --gri: #292d2d;
  --crem: #fff9f4;
  --gold: #c6a66f;
}

/* CSS for Order History Page */
body {
  background-color: var(--gri);
}

.container {
  margin: 0 auto;
}

.navbar {
  background-color: var(--gri);
  padding: 1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .logo img {
  max-width: 100%;
}

.meniu {
  display: flex;
  align-items: center;
}

.meniu ul {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.meniu ul li {
  margin: 0 10px;
}

.meniu ul li a {
  text-decoration: none;
  color: var(--gold);
  font-family: "Lexend", sans-serif;
  font-size: 20px;
  font-weight: 400;
  transition: color 0.3s ease;
}

.meniu ul li a:hover {
  color: var(--gri);
}

.container h2 {
  font-family: "Lexend", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  background-color: var(--crem);
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--crem);
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid var(--gri);
}

table th,
table td {
  padding: 10px;
  text-align: center;
  border: 2px solid var(--gri);
  font-size: 16px;
}

table th {
  background-color: var(--gold);
  color: var(--crem);
  font-family: "Lexend", sans-serif;
  font-weight: 700;
  height: 50px;
}

table tbody tr td {
  background-color: var(--crem);
  font-family: "Lexend", sans-serif;
  font-size: 14px;
  border: 2px solid var(--gri);
  text-align: center;
  height: 130px;
}

table tbody tr td#order-number {
  font-weight: 700;
  font-size: 16px;
}

table tbody tr td img.image-fit {
  width: 200px;
  border-radius: 5px;
}

tr:last-child td {
  border-bottom: none;
}

tr:nth-child(even) {
  background-color: var(--gri);
}

table button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: var(--gri);
  color: var(--crem);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;
  font-family: "Lexend", sans-serif;
  border-radius: 10px;
}

table button:hover {
  background-color: var(--gold);
}

.container .total-orders {
  margin-bottom: 20px;
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--crem);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.payment-checkbox {
  appearance: none;
  border: 2px solid var(--gri);
  border-radius: 5px;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-color: var(--crem);
  cursor: pointer;
}

.payment-checkbox:checked {
  background-color: var(--gold);
}

.payment-checkbox:after {
  content: "";
  width: 10px;
  height: 5px;
  border: 2px solid var(--gri);
  border-top: 0;
  border-left: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  opacity: 0;
}

.payment-checkbox:checked:after {
  opacity: 1;
  border-color: var(--crem);
}

/* Add this to your existing CSS code */
.submit-btn {
  background-color: var(--gold);
  color: var(--crem);
  font-family: Lexend, sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #e7ae45;
}

@media screen and (max-width: 768px) {
  th,
  td {
    display: block;
    width: 100%;
  }

  td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  td:before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    font-weight: bold;
  }

  tr {
    margin-bottom: 15px;
  }

  tr:hover {
    background-color: inherit;
    cursor: auto;
  }
}
